 {%load static %}
 {% include "website_header.html" %}
  <body class="body-wrapper">

  <div class="main-wrapper">

 {% include "website_nav.html" %}
      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix productsContent">
        <div class="container">
          {% for item in data.products %}
          {% if forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}


            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="productBox">
                <div class="productImage clearfix" style="margin:20px 20px 20px 20px;">
                  <img width="100px" onclick="cartadd('{{item.id}}')" height="200px" src="{% static "img/book.png" %}" alt="products-img">
                  <!--<div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                      <li><a href="#" onclick="cartadd('{{item.id}}')" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                      <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>-->
                </div>
                <div class="productCaption clearfix" style="margin:20px;">
                  <a  href="#" onclick="cartadd('{{item.id}}')">
                    <h5>{{ item.name }}</h5>
                  </a>
                  <h3>&#x20a6; {{ item.price }}</h3>
                </div>
              </div>
            </div>
          {% if forloop.counter|divisibleby:4 or forloop.last %}       </div>{% endif %}

 {% endfor %}



{% if data.products.has_other_pages %}
  <ul  class="pagination pull-right">
    {% if data.products.has_previous %}
      <li class="c-prev"><a href="/?page={{ users.previous_page_number }}"> << </a></li>
    {% else %}
      <li class="disabled"><span> << </span></li>
    {% endif %}

    {% for i in data.products.paginator.page_range %}
      {% if data.products.number == i %}

        <li class="c-active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}

    <li><span><a href="?page={{ i }}" style="color:blue;font-size:15px;">{{ i }}</a></span></li>
      {% endif %}

    {% endfor %}
    {% if data.products.has_next %}
    <li class="c-next"><span><a href="?page={{ users.next_page_number }}"  style="color:blue;font-size:15px;"> >> </a></span></li>
    {% else %}
      <li class="disabled"><span> >> </span></li>
    {% endif %}
  </ul>
{% endif %}

        </div>
      </section>



 {% include "website_footer.html" %}


  </body>
</html>