{%load static %}
  <!-- BANNER -->
      <div class="bannercontainer bannerV1">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner">
            <ul>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <img src="{% static "img/home/banner-slider/slider-bg.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption slider-captionV1 container">

                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="370"
                    data-y="54"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300" >
                    <img src="{% static "img/legal/image1.jpg" %}" alt="slider-image" style="width: 781px; height: 416px;">
                  </div>

                  <div style="font-size:18px;width:200px" class="tp-caption rs-caption-2 sft"
                    data-hoffset="0"
                    data-y="119"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Swearing in Ceremony of High Court Judge
                  </div>


                </div>
              </li>





                   <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <img src="{% static "img/home/banner-slider/slider-bg.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption slider-captionV1 container">

                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="370"
                    data-y="54"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300" >
                    <img src="{% static "img/legal/image2.jpg" %}" alt="slider-image" style="width: 781px; height: 416px;">
                  </div>

                  <div style="font-size:18px;width:200px" class="tp-caption rs-caption-2 sft"
                    data-hoffset="0"
                    data-y="119"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Adamawa Judiciary Marks The Commencement of 2015/2016 Legal Year
                  </div>


                </div>
              </li>




               <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <img src="{% static "img/home/banner-slider/slider-bg.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="slider-caption slider-captionV1 container">

                  <div class="tp-caption rs-caption-1 sft start"
                    data-hoffset="0"
                    data-x="370"
                    data-y="54"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Back.easeInOut"
                    data-endspeed="300" >
                    <img src="{% static "img/legal/image3.jpg" %}" alt="slider-image" style="width: 781px; height: 416px;">
                  </div>

                  <div style="font-size:18px;width:200px" class="tp-caption rs-caption-2 sft"
                    data-hoffset="0"
                    data-y="119"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                    Adamawa Judiciary Marks Legal Year
                  </div>


                </div>
              </li>


            </ul>
          </div>
        </div>
      </div>