{% load static %}
{% load carton_tags %}
{% get_cart as cart %}

<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Checkout</h3>

                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="shop-checkout.html">Checkout</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">{{ data.sitename }}</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
            <!-- BEGIN: PAGE CONTENT -->
            <div class="c-content-box c-size-lg">
                <div class="container">
                    <form action="/dopaymentdownload" method="post" class="c-shop-form-1">
                        <div class="row">
                            <!-- BEGIN: ADDRESS FORM -->
                            <div class="col-md-7 c-padding-20">
                                <!-- BEGIN: BILLING ADDRESS -->
                                <h3 class="c-font-bold c-font-uppercase c-font-24">Billing Address</h3>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Country</label>
                                        <select name="country" id="country"  class="form-control c-square c-theme">
                                            {% for c in data.country %}
                                            <option value="{{c.id}}">{{c.name}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">First Name</label>
                                                <input name="firstname" id="firstname"  type="text" class="form-control c-square c-theme" placeholder="First Name"> </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Last Name</label>
                                                <input name="lastname" id="lastname"  type="text" class="form-control c-square c-theme" placeholder="Last Name"> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Address</label>
                                        <input name="address" id="address" type="text" class="form-control c-square c-theme" placeholder="Street Address"> </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <input name="address1" id="address1" type="text" class="form-control c-square c-theme" placeholder="Apartment, suite, unit etc. (optional)"> </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Town / City</label>
                                        <input name="town" id="town" type="text" class="form-control c-square c-theme" placeholder="Town / City"> </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Email Address</label>
                                                <input name="email" id="email" type="email" class="form-control c-square c-theme" placeholder="Email Address"> </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Phone</label>
                                                <input name="phone" id="phone" type="tel" class="form-control c-square c-theme" placeholder="Phone"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row c-margin-t-15">
                                    <div class="form-group col-md-12">
                                        <div class="c-checkbox c-toggle-hide" data-object-selector="c-account" data-animation-speed="600">
                                            <input type="checkbox" name="createaccount" id="checkbox1-77" class="c-check">
                                            <label for="checkbox1-77">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Create an account? </label>
                                        </div>
                                        <p class="help-block">Create an account by entering the information below. If you are a returning customer please login.</p>
                                    </div>
                                </div>
                                <div class="row c-account">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Account Username</label>
                                        <input name="username" id="username" type="text" class="form-control c-square c-theme" placeholder="Username"> </div>
                                </div>
                                <div class="row c-account">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Account Password</label>
                                        <input name="passsword" id="passsword" type="password" class="form-control c-square c-theme" placeholder="Password"> </div>
                                </div>
                                <!-- BILLING ADDRESS -->


                            </div>
                            <!-- END: ADDRESS FORM -->
                            <!-- BEGIN: ORDER FORM -->
                            <div class="col-md-5">
                                <div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
                                    <h1 class="c-font-bold c-font-uppercase c-font-24">Your Order</h1>
                                    <ul class="c-order list-unstyled">
                                        <li class="row c-margin-b-15">
                                            <div class="col-md-6 c-font-20">
                                                <h2>Product</h2>
                                            </div>
                                            <div class="col-md-6 c-font-20">
                                                <h2>Total</h2>
                                            </div>
                                        </li>
                                        <li class="row c-border-bottom"></li>

                                         {% for product in cart.products %}
                                        <li class="row c-margin-b-15 c-margin-t-15">
                                            <div class="col-md-6 c-font-15">
                                                <a href="shop-product-details.html" class="c-theme-link">{{ product.name }} x 1</a>
                                            </div>
                                            <div class="col-md-6 c-font-15">
                                                <p class="">&#x20a6;{{ product.price }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}











                                        <li class="row c-margin-b-15 c-margin-t-15">
                                            <div class="col-md-6 c-font-20">Subtotal</div>
                                            <div class="col-md-6 c-font-20">
                                                <p class="">&#x20a6;
                                                    <span class="c-subtotal">{{ cart.total }}</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="row c-border-top c-margin-b-15"></li>

                                         <li class="row c-margin-b-15 c-margin-t-15">
                                            <div class="col-md-6 c-font-20">
                                                <p class="c-font-30">Total</p>
                                            </div>
                                            <div class="col-md-6 c-font-20">
                                                <p class="c-font-bold c-font-30">&#x20a6;
                                                    <span class="c-shipping-total">{{ cart.total }}</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-md-12">
                                                <div class="c-radio-list">
                                                    <div class="c-radio">
                                                        <input type="radio" id="radio1" class="c-radio" name="payment" checked="">
                                                        <label for="radio1" class="c-font-bold c-font-20">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Direct Bank Transfer </label>
                                                        <p class="help-block">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                    </div>

                                                    <div class="c-radio">
                                                        <input type="radio" id="radio3" class="c-radio" name="payment">
                                                        <label for="radio3" class="c-font-bold c-font-20">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Card Payment </label>
                                                        <img class="img-responsive" width="250" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" /> </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="row c-margin-b-15 c-margin-t-15">
                                            <div class="form-group col-md-12">
                                                <div class="c-checkbox">
                                                    <input type="checkbox" id="checkbox1-11" class="c-check">
                                                    <label for="checkbox1-11">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> I’ve read and accept the Terms & Conditions </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="form-group col-md-12" role="group">
                                                <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {% csrf_token %}
                            <!-- END: ORDER FORM -->
                        </div>
                    </form>
                </div>
            </div>