{% load static %}
{% include "website_header.html" %}
    <body class="c-layout-header-fixed c-layout-header-mobile-fixed">
    {% include "website_nav.html" %}

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">




  <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Subscription</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">

                        <li>
                            <a href="javascript:;">{{ data.sitename }}</a>
                        </li>


                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/PRICING/PRICING-3 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-content-pricing-1 c-option-2">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">Get access to all this laws</h3>
                            <div class="c-line-center"></div>
                        </div>
                        <div class="c-tile-container">
                            <div class="c-tile c-tile-small c-bordered c-theme-border">
                                <div class="c-label c-theme-bg">Basic</div>
                                <p class="c-price">5000
                                    <sup>&#x20A6;</sup>
                                </p>
                                <p class="c-font-uppercase">100 Laws</p>
                                <p class="c-font-uppercase">3 Users</p>
                                <p class="c-font-uppercase">All Devices(Mobile,Web,Desktop)</p>
                                <p class="c-font-uppercase">For 7 days</p>
                                <a href="/accounts" class="btn btn-md c-btn-square c-btn-border-2x c-btn-dark c-btn-uppercase c-btn-bold">Purchase</a>
                            </div>
                            <div class="c-tile c-theme-bg  c-bordered c-theme-border c-highlight">
                                <div class="c-label c-theme">Advanced</div>
                                <p class="c-price">10000
                                    <sup>&#x20A6;</sup>
                                </p>
                                <p class="c-font-uppercase">All Laws</p>
                                <p class="c-font-uppercase">10 Users</p>
                                <p class="c-font-uppercase">All Devices(Mobile,Web,Desktop)</p>
                                <p class="c-font-uppercase">For 30 days</p>
                                <a href="/accounts" class="btn btn-md c-btn-square c-btn-border-2x c-btn-white c-btn-uppercase c-btn-bold">Purchase</a>
                            </div>
                            <div class="c-tile c-tile-small c-bordered c-theme-border">
                                <div class="c-label c-theme-bg">Expert</div>
                                <p class="c-price">20000
                                    <sup>&#x20A6;</sup>
                                </p>
                               <p class="c-font-uppercase">All Laws</p>
                                <p class="c-font-uppercase">20 Users</p>
                                <p class="c-font-uppercase">All Devices(Mobile,Web,Desktop)</p>
                                <p class="c-font-uppercase">For 1 Year</p>
                                <a href="/accounts" class="btn btn-md c-btn-square c-btn-border-2x c-btn-dark c-btn-uppercase c-btn-bold">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/PRICING/PRICING-3 -->
            <!-- BEGIN: CONTENT/PRICING/PRICING-1 -->


        </div>
        <!-- END: PAGE CONTAINER -->


    {% include "website_footer.html" %}
</body>


</html>